<ul class="nav nav-tabs">
    <li><button class="btn btn-lg btn-primary" id="home" href="#"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Accueil</button></li>
</ul>

<style>

</style>
