* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 16px Helvetica, Arial;
}

/* Barre d'ecriture des messages*/
#message-block {
    position: fixed;
    bottom: 0;
    padding-left: 15%;
    padding-right: 20%;
}

/* Messages Panel 20% a droite et 15% a gauche pour les panel sidebar */
#messages {
    list-style-type: none;
    padding: 0;
    margin: 0 20% 0 15%;
}

/*taille de tous les messages*/
#messages li {
    padding: 5px 10px;
}

/*alternance de fonds sur les messages*/
#messages li:nth-child(odd) {
    background: #eee;
}

/* Affiche les pseudo en plus gros que le reste*/
.pseudo{
    font-size: 1.3em;
}

/* Affiche les pseudo en plus gros que le reste*/
.pseudo-mine{
    font-size: 1.3em;
    float: right;
}

/* People's messages display*/
.message-content{
    margin-top: 0.5%;
    margin-left: 1%;
}

/*When it is my message displaying*/
.message-content-mine{
    margin-top: 2%;
    float : right;

}


/* Pseudo list of users */
#users {
    border: 1px solid;
    position: fixed;
    height: 100%;
    width: 15%;
    overflow-y: scroll;
}

/*right panel*/
#debate-info-panel{
    border: 1px solid;
    height: 100%;
    width: 20%;
    float: right;
    right: 0;
    position: fixed;
}

.bubble
{
    position: relative;
    width: 175px;
    padding: 0px;
    background: #FFFFFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: #7F7F7F solid 2px;
}