* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 16px Helvetica, Arial;
}

/**
LOBBY PAGE
 */

/**
 CHAT PAGE
 */
.nav{
    background-color : #f5f5f5;
}

.nav.nav-tabs{
    margin-bottom: 50px;
}

html{
    background-color : #f5f5f5;

}

/* Barre d'ecriture des messages*/
#message-block {
    position: fixed;
    bottom: 0;
    padding-left: 16%;
    padding-right: 20%;
}

/* Messages Panel 20% a droite et 16% a gauche pour les panel sidebar */
#messages {
    list-style-type: none;
    padding: 0;
}

/*taille de tous les messages*/
#messages li {
    padding: 5px 10px;
}

/* Affiche les pseudo en plus gros que le reste*/
.pseudo{
    font-size: 1em;
    float: left;
    clear: both;
    font-weight: bold;
}

/* Affiche les pseudo en plus gros que le reste*/
.pseudo-mine{
    font-size: 1em;
    float: right;
    clear: both;
    font-weight: bold;

}

/* People's messages display*/
.message-content{
    margin-top: 0.5%;
    margin-left: 1%;
    float: left;
    clear: left;
}

/*When it is my message displaying*/
.message-content-mine{
    margin-top: 2%;
    float : right;
    clear: both;
}

#chatBlock{
    position: fixed;
    overflow-x:hidden;
    overflow-y:visible;
    max-height: 88%;
    right: 20%;
    padding-bottom: 135px;
    left: 16%;
}

/* Pseudo list of users */
#users {
    border: 1px solid;
    position: fixed;
    height: 100%;
    width: 16%;
    overflow-y: scroll;
}

/*right panel*/
#debate-info-panel{
    border: 1px solid;
    height: 100%;
    width: 20%;
    float: right;
    right: 0;
    position: fixed;
}

.bubble
{
    margin: 10px;
    position: relative;
    height: auto;
    background-color: lightyellow;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: #7F7F7F solid 2px;
}
