<!doctype html>
<html>
<head>
    <head>
        <% include ./partials/head %>
    </head>
    <link rel="stylesheet" href="/style/chat.css">
</head>

<body>

<div>
    <ul class="nav nav-tabs">
        <li>
            <button class="btn btn-lg btn-primary" id="home" href="#"><span class="glyphicon glyphicon-home"
                                                                            aria-hidden="true"></span> Home
            </button>
        </li>
    </ul>
    <style>
        .nav.nav-tabs {
            margin-bottom: 50px;
        }
    </style>
</div>

<ul id="users"></ul>
<div id="debate-info-panel">zdsfjsdqlfjsdlifsqidjfsdijf</div>

<div id="chatBlock">
    <ul id="messages"></ul>
</div>

<div id="message-block">
    <div class="input-group">
        <input id="message" type="text" class="form-control" placeholder="Message">
        <span class="input-group-btn">
        <button id="send" class="btn btn-default" type="button">Send</button>
        </span>
    </div>
</div>


<footer>
    <% include ./partials/footer.ejs %>
</footer>

</body>
</html>

<script>
    var socket = io();
    var pseudo = <%- JSON.stringify(pseudo) %>;
    var room = <%- JSON.stringify(room) %>;

    socket.emit('joinRoom', {room: room, pseudo: pseudo});

    $('#send').click(function () {
        if ($('#message').val() != "") {
            socket.emit('chat message', {message: $('#message').val(), pseudo: pseudo, room: room});
            $('#message').val('');
            $("#chatBlock").scrollTop($("#chatBlock")[0].scrollHeight+1000);
        }
    });

    $(document).keypress(function (e) {
        if (e.which == 13) {
            $("#send").click();
            $("#chatBlock").scrollTop($("#chatBlock")[0].scrollHeight+1000);
        }
    });

    socket.on('chat message', res => {
        console.log('chat message');
        console.log(res.pseudo);
        console.log(res.message);
        let urlEmote = randomEmote();
        //pour le float left ou right du message, on modifie la class CSS qui affiche le message
        let messageDisplayClass = "message-content";
        let pseudoDisplayClass = "pseudo";

        if (res.pseudo == pseudo) {
            messageDisplayClass = "message-content-mine";
            pseudoDisplayClass = "pseudo-mine";
            console.log('MON MESSAGE')
            console.log("-----------------------\n");
        }
        $('#messages')
            .append($('<li class="' + pseudoDisplayClass + '">')
                .text(`${res.pseudo}  `).append($('<img src="' + urlEmote + '" alt="emote" style="width:25px;height:25px;">')))
            .append($('<li class="bubble ' + messageDisplayClass + '">').text(`${res.message}`));
        $("#chatBlock").scrollTop($("#chatBlock")[0].scrollHeight+1000);
    });

    socket.on('user joined', res => {
        $('#messages').append($('<li>').text(`${res.pseudo} joined !`));
    });

    // Fired when the server see someone login in
    socket.on('list users', list => {
        let htmlUserList = "";
        for (let user of list)
            htmlUserList += `<li> ${user} </li>`;
        $('#users').html(htmlUserList);
    });

    socket.on('user left', res => {
        //console.log(res);
        $('#messages').append($('<li>').text(`${res} left.`));
    });

    $("#home").click(function () {
        socket.emit('disconnection', {room: room, pseudo: pseudo});
        window.location.href = "http://localhost:3000/lobby/<%- pseudo %>"
    });

    var randomEmote = function () {
        var url = "";
        switch (Math.floor(Math.random() * (6 - 1 + 1)) + 1) {
            case 1:
                url = "../images/emotes/c-colere.png"
                break;
            case 2:
                url = "../images/emotes/c-content.png"
                break;
            case 3:
                url = "../images/emotes/c-degout.png"
                break;
            case 4:
                url = "../images/emotes/c-peur.png"
                break;
            case 5:
                url = "../images/emotes/c-surprise.png"
                break;
            case 6:
                url = "../images/emotes/c-triste.png"
                break;
            default:
                console.log("default");
                break;
        }
        return url;
    }
</script>
