<!doctype html>
<html>
<head>
    <title>chat emotions</title>
    <link rel="stylesheet" href="/chat.css">
</head>

<body>

<ul id="users"></ul>

<ul id="messages"></ul>

<form action="">
    <input id="message" autocomplete="off" /><button>Send</button>
</form>
</body>

</html>

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script>
    var socket = io();
    var pseudo = <%- JSON.stringify(pseudo) %>;

    $('form').submit(() => {
        socket.emit('chat message', $('#message').val());
        $('#message').val('');
        return false;
    });

    socket.on('chat message', function(msg){
        $('#messages').append($('<li>').text(`${pseudo} ${msg}`));
    });

    // Fired when the server see someone login in
    socket.on('list users', list => {
        let htmlUserList = "";
        for (let user of list)
            htmlUserList += `<li> ${user} </li>`;
        $('#users').html(htmlUserList);
    });
</script>

