<!doctype html>
<html>
<head>
    <head>
        <% include ./partials/head %>
    </head>
    <link rel="stylesheet" href="/style/chat.css">
</head>

<body>

<div>
    <ul class="nav nav-tabs">
        <li>
            <button class="btn btn-lg btn-primary" id="home" href="#">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                Accueil
            </button>
        </li>
    </ul>
</div>

<ul id="users"></ul>

<div id="debate-info-panel">

    <div class="panel panel-default">
        <div class="panel-body">
            <h4>Feeling Du Débat: </h4>
            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0"
                     aria-valuemax="100" style="width: 40%">
                    <span class="sr-only">40% Complete (success)</span>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="bottom-panel">
                <h4>Emotion Actuelle:</h4>
                <img src="" id="current-emote" alt="emote" style="width:50px;height:50px;">
                <br/>
                <br/>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Choisir une autre émotion
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-6 col-md-4">
                                <a href="#" class="thumbnail">
                                    <img src="../images/emotes/a-colere.png" alt="colere"
                                         style="width: 30px; height: 30px;">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-4">
                                <a href="#" class="thumbnail">
                                    <img src="../images/emotes/a-content.png" alt="content"
                                         style="width: 30px; height: 30px;">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-4">
                                <a href="#" class="thumbnail">
                                    <img src="../images/emotes/a-degout.png" alt="degout"
                                         style="width: 30px; height: 30px;">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-4">
                                <a href="#" class="thumbnail">
                                    <img src="../images/emotes/a-peur.png" alt="peur"
                                         style="width: 30px; height: 30px;">
                                </a>
                            </div>
                            <div class="col-xs-4 col-md-4">
                                <a href="#" class="thumbnail">
                                    <img src="../images/emotes/a-surprise.png" alt="surprise"
                                         style="width: 30px; height: 30px;">
                                </a>
                            </div>
                            <div class="col-xs-4 col-md-4">
                                <a href="#" class="thumbnail">
                                    <img src="../images/emotes/a-triste.png" alt="triste"
                                         style="width: 30px; height: 30px;">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="chatBlock">
    <ul id="messages"></ul>
</div>

<div id="message-block">
    <div class="input-group">
        <input id="message" type="text" class="form-control" placeholder="Message">
        <span class="input-group-btn">
        <button id="send" class="btn btn-default" type="button">Envoyer</button>
        </span>
    </div>
</div>


<footer>
    <% include ./partials/footer.ejs %>
</footer>

</body>
</html>

<script>
    let socket = io();
    let pseudo = <%- JSON.stringify(pseudo) %>;
    let room = <%- JSON.stringify(room) %>;
    let emote_to_send;

    socket.emit('joinRoom', {room: room, pseudo: pseudo});

    /**
     * SEND BUTTON
     */
    $('#send').click(function () {
        if ($('#message').val() != "") {
            socket.emit('chat message', {
                message: $('#message').val(),
                pseudo: pseudo,
                room: room,
                emote: emote_to_send
            });
            $('#message').val('');
            $("#chatBlock").scrollTop($("#chatBlock")[0].scrollHeight + 1000);
        }
    });

    /**
     * PRESS ENTER TO SEND MESSAGE
     */
    $(document).keypress(function (e) {
        if (e.which == 13) {
            $("#send").click();
            $("#chatBlock").scrollTop($("#chatBlock")[0].scrollHeight + 1000);
        }
    });


    /**
     * SOCKET
     */
    socket.on('chat message', res => {
        console.log('chat message');
        console.log(res.pseudo);
        console.log(res.message);
        let urlEmote = res.emote;
        //pour le float left ou right du message, on modifie la class CSS qui affiche le message
        let messageDisplayClass = "message-content";
        let pseudoDisplayClass = "pseudo";

        if (res.pseudo == pseudo) {
            messageDisplayClass = "message-content-mine";
            pseudoDisplayClass = "pseudo-mine";
            console.log('MON MESSAGE')
            console.log("-----------------------\n");
        }
        $('#messages')
            .append($('<li class="' + pseudoDisplayClass + '">')
                .text(`${res.pseudo}  `).append($('<img src="' + urlEmote + '" alt="emote" style="width:30px;height:30px;">')))
            .append($('<li class="bubble ' + messageDisplayClass + '">').text(`${res.message}`));

        $("#chatBlock").scrollTop($("#chatBlock")[0].scrollHeight + 1000);
    });

    socket.on('user joined', res => {
        $('#messages').append($('<li>').text(`${res.pseudo} joined !`));
    });

    // Fired when the server see someone login in
    socket.on('list users', list => {
        let htmlUserList = "";
        for (let user of list) {
            if (user != pseudo)
                htmlUserList += `<li style="margin-top: 5px;margin-left: 5px;">`
                    + `<div class="cust-tooltip">`
                    + `<button type="button" class="btn btn-danger" aria-label="Left Align" data-toggle="tooltip" title="Signaler">`
                    + `<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>`
                    + `</button><span class="cust-tooltiptext">Signaler</span></div> ${user}`
                    + `   <img src="` + randomEmote().url + `" alt="emote" style="width:25px;height:25px;">`
                    + `   <button id="mute${user}" type="button" class="btn btn-default" data-toggle="tooltip"  title="mute/unmute emotion" onclick="muteToggle('${user}');">Mute</button>`
                    + `</li>`;
            else
                htmlUserList += `<li style="margin-top: 5px;margin-left: 5px;">`
                    + `${user}`
                    + `   <img src="` + randomEmote().url + `" alt="emote" style="width:25px;height:25px;">`
                    + `</li>`;
        }
        $('#users').html(htmlUserList);
    });

    socket.on('user left', res => {
        //console.log(res);
        $('#messages').append($('<li>').text(`${res} left.`));
    });

    /**
     * BACK TO LOBBY
     */
    $("#home").click(function () {
        //Todo: MODAL CONFIRME QUITTER LE CHAT
        socket.emit('disconnection', {room: room, pseudo: pseudo});
        window.location.href = "http://localhost:3000/lobby/<%- pseudo %>"
    });

    /**
     * RANDOM EMOTE URL GENERATOR
     */
    let randomEmote = function () {
        let url = "";
        let emojiTooltip = "";
        switch (Math.floor(Math.random() * (6 - 1 + 1)) + 1) {
            case 1:
                url = "../images/emotes/a-colere.png"
                emojiTooltip = "colere";
                break;
            case 2:
                url = "../images/emotes/a-content.png"
                emojiTooltip = "colere";
                break;
            case 3:
                url = "../images/emotes/a-degout.png"
                emojiTooltip = "colere";
                break;
            case 4:
                url = "../images/emotes/a-peur.png"
                emojiTooltip = "colere";
                break;
            case 5:
                url = "../images/emotes/a-surprise.png"
                emojiTooltip = "colere";
                break;
            case 6:
                url = "../images/emotes/a-triste.png"
                emojiTooltip = "colere";
                break;
            default:
                console.log("default");
                break;
        }
        return {url, emojiTooltip};
    }

    /**
     * MUTE ACTION
     */
    let muteToggle = function (user) {
        if ($('#mute' + user).text() == 'Mute') {
            $('#mute' + user).text('Unmute');
        } else {
            $('#mute' + user).text('Mute');
        }
    }

    /**
     * CURRENT EMOTION RANDOMIZER
     */

    let countdown = 20;
    $('#current-emote').attr('src', randomEmote().url);
    emote_to_send = $('#current-emote').attr('src');

    $('#message').keypress(function () {
        if (countdown == 0) {
            $('#current-emote').attr('src', randomEmote().url);
            emote_to_send = $('#current-emote').attr('src');
            countdown = Math.floor(Math.random() * (50 - 1 + 1) + 1);
        } else {
            countdown--;
        }
    });

    /**
     * MODAL OPEN
     */

    $('#change-emoji').click(function () {
        $('#myModal').show();
    });

    $('.modal-body').click(function (e) {
        console.log($(e.target).attr('src'));
        $('#current-emote').attr('src', $(e.target).attr('src'));
        $('#myModal').modal('hide')
        emote_to_send = $(e.target).attr('src');
        console.log(emote_to_send);
    });


</script>
