<!doctype html>
<html>
<head>
    <head>
        <% include ./partials/head %>
    </head>
    <link rel="stylesheet" href="/style/chat.css">
</head>

<body>

<header>
    <% include ./partials/header %>
</header>

<ul id="users"></ul>

<ul id="messages"></ul>

<form action="">
    <div class="input-group">
        <input id="message" type="text" class="form-control" placeholder="Message" aria-describedby="basic-addon2">
        <span class="input-group-addon" id="basic-addon2">Send</span>
    </div>
</form>


<footer>
    <% include ./partials/footer.ejs %>
</footer>

</body>
</html>

<script>
    var socket = io();
    var pseudo = <%- JSON.stringify(pseudo) %>;

    $('form').submit(() => {
        socket.emit('chat message', {message: $('#message').val(), pseudo: pseudo});
        $('#message').val('');
        return false;
    });

    socket.on('chat message', res => {
        $('#messages').append($('<li>').text(`${res.pseudo} ${res.message}`));
    });

    // Fired when the server see someone login in
    socket.on('list users', list => {
        let htmlUserList = "";
        for (let user of list)
            htmlUserList += `<li> ${user} </li>`;
        $('#users').html(htmlUserList);
    });
</script>

