<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body class="container">
<header>
    <% include ./partials/header %>
</header>

<div class="row">
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="../images/clinton-trump.jpg" alt="Clinton Trump">
        </a>
        <a href="#" class="thumbnail">
            <img src="../images/global-warming.jpg" alt="Global Warming">
        </a>
    </div>
</div>
<footer>
    <% include ./partials/footer.ejs %>
</footer>
</body>
</html>