<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body class="container">
<header>
    <% include ./partials/header %>
</header>
<div class="panel panel-default">
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="thumbnail">
                <img src="../images/clinton-trump.jpg" alt="Clinton Trump">
                <div class="caption">
                    <span>Debate: USA Election</span>
                    <div>
                        <a href="/chat/debate" id="debate" type="button" class="btn btn-default btn-primary">Participer</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="thumbnail">
                <img src="../images/global-warming.jpg" alt="Global Warming">
                <div class="caption">
                    <span>Debate: Global Warming</span>
                    <div>
                        <a href="/chat/gw" id="gw" type="button" class="btn btn-default btn-primary">Participer</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <% include ./partials/footer.ejs %>
</footer>
</body>
</html>

<!-- HOME PAGE RETURN SCRIPT -->
<script>
    $("#home").click(function () {
        window.location.href = "http://localhost:3000/lobby/" + <%- pseudo %>
    });

</script>

</script>